@using RengoMediaTask.Data.DomianModels
@model IEnumerable<Reminder>
@{
    ViewData["Title"] = "Reminders";
}

<h2>Reminders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date-Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.DateTime)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New</a>
